<div class="sw-cms-el-moorl-category-listing" :style="elementCss">
    <div class="category"
         v-for="category in categories"
         :style="categoryCss(category)">
        <div class="overlay" :style="overlayCss">
            <div class="container" :style="boxCss">
                <div class="container-content">
                    <h3>{{ category.name }}</h3>

                    <p>{{ category.description | truncate(element.config.contentLength.value, true, '...') }}</p>

                    <a  v-if="element.config.btnActive.value" class="sw-button sw-button--primary" href="#">{{ element.config.btnText.value }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
