<div class="sw-cms-el-preview-moorl-category-listing">
    <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
    <div class="container">
        <div class="container-icon">
            <i class="fas fa-check"></i>
        </div>
        <div class="container-content">
            <h3>CTA Banner</h3>
            <p>Supports multimedia and categories.</p>
            <button>Cool</button>
        </div>
    </div>
</div>
