.sw-cms-el-preview-moorl-category-listing {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        position: relative;
        background: rgba(255, 255, 255, 0.9);
        font-size: 9px;
        padding: 4px;
        margin: 5px;
        width: 70%;
        &.reset {
            max-height: 100%;
            padding: 0;
        }
        .container-icon {
            float: left;
            font-size: 18px;
            margin-right: 6px
        }
        .container-content {
            overflow: hidden;
            display: block !important;
            h3, p {
                font-size: 9px;
                margin: 0px 0px 3px;
            }
            button {
                background: #d1d9e0;
                color: #52667a;
                border-radius: 3px;
                text-align: center;
                font-size: 10px;
                line-height: 18px;
                border: none;
                padding: 0 10px;
            }
        }
    }
}

.sw-cms-preview-moorl-category-listing {
    height: 160px;
    padding: 3px;
    &.moorl-multi-slider {
        align-items: center;
        display: grid;
        grid-template-columns: 10px 1fr 10px;
        grid-gap: 5px;
    }
    .container {
        padding: 10px;
        margin: 10px;
        .container-icon {
            font-size: 24px;
            margin-right: 10px;
        }
        .container-content {
            h3, p {
                font-size: 12px;
                margin: 0px 0px 10px;
            }
            button {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
    &.two {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        height: auto;
        .container {
            padding: 3px;
            margin: 5px;
            width: 70%;
            .container-icon {
                font-size: 10px;
                margin-right: 3px;
            }
            .container-content {
                text-align: center;
                h3, p {
                    font-size: 10px;
                    margin: 0px 0px 3px;
                }
                button {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
    &.three {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        height: auto;
        .container {
            padding: 3px;
            margin: 5px;
            width: auto;
            .container-icon {
                font-size: 10px;
                margin-right: 3px;
            }
            .container-content {
                text-align: center;
                h3, p {
                    font-size: 10px;
                    margin: 0px 0px 3px;
                }
                button {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
    &.four {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: auto;
        .container {
            padding: 15px;
            margin: 10px;
            background: #f4f6f9;
            width: auto;
            .container-icon {
                font-size: 40px;
                margin-right: 0;
            }
            .container-content {
                h3, p {
                    font-size: 8px;
                    margin: 0px 0px 3px;
                }
                button {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
}
