<div class="sw-cms-preview-moorl-category-listing sw-cms-preview-moorl-category-listing">
    <div class="sw-cms-el-preview-moorl-category-listing">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <div class="container">
            <div class="container-content">
                <h3>Catgory Teaser</h3>
                <p>Lorem Ipsum dolor sit amet.</p>
                <button>Cool</button>
            </div>
        </div>
    </div>
</div>
