<div class="sw-cms-el-config-moorl-category-listing">
    <sw-field v-model="element.config.contentLength.value"
              type="number"
              :label="$tc('moorl-cms.elements.general.config.label.contentLength')">
    </sw-field>

    <sw-field v-model="element.config.backgroundFixed.value"
              bordered
              type="switch"
              :label="$tc('moorl-cms.elements.general.config.label.backgroundFixed')">
    </sw-field>

    <sw-field v-model="element.config.btnActive.value"
              bordered
              type="switch"
              :label="$tc('moorl-cms.elements.general.config.label.btnActive')">
    </sw-field>

    <template v-if="element.config.btnActive.value">
        <sw-field v-model="element.config.btnText.value"
                  type="text"
                  :label="$tc('moorl-cms.elements.general.config.label.btnText')">
        </sw-field>

        <sw-select-field :label="$tc('moorl-cms.elements.general.config.label.btnClass')"
                         v-model="element.config.btnClass.value">
            <option v-for="item in moorlFoundation.btnClass" :value="item.value">{{ $tc(item.label) }}</option>
        </sw-select-field>
    </template>

    <sw-field v-model="element.config.height.value"
              type="text"
              :label="$tc('moorl-cms.elements.general.config.label.height')">
    </sw-field>

    <sw-select-field :label="$tc('moorl-cms.elements.general.config.label.boxVerticalAlign')"
                     v-model="element.config.boxVerticalAlign.value">
        <option v-for="item in moorlFoundation.verticalAlign" :value="item.value">{{ $tc(item.label) }}</option>
    </sw-select-field>

    <sw-select-field :label="$tc('moorl-cms.elements.general.config.label.boxHorizontalAlign')"
                     v-model="element.config.boxHorizontalAlign.value">
        <option v-for="item in moorlFoundation.horizontalAlign" :value="item.value">{{ $tc(item.label) }}</option>
    </sw-select-field>

    <sw-select-field :label="$tc('moorl-cms.elements.general.config.label.boxTextAlign')"
                     v-model="element.config.boxTextAlign.value">
        <option v-for="item in moorlFoundation.textAlign" :value="item.value">{{ $tc(item.label) }}</option>
    </sw-select-field>

    <sw-field type="text"
              :label="$tc('moorl-cms.elements.general.config.label.boxWidth')"
              v-model="element.config.boxWidth.value">
    </sw-field>

    <sw-field type="text"
              :label="$tc('moorl-cms.elements.general.config.label.boxHeight')"
              v-model="element.config.boxHeight.value">
    </sw-field>

    <sw-field type="text"
              :label="$tc('moorl-cms.elements.general.config.label.boxMargin')"
              v-model="element.config.boxMargin.value">
    </sw-field>

    <sw-field type="text"
              :label="$tc('moorl-cms.elements.general.config.label.boxPadding')"
              v-model="element.config.boxPadding.value">
    </sw-field>

    <sw-field type="text"
              :label="$tc('moorl-cms.elements.general.config.label.gridGap')"
              v-model="element.config.gridGap.value">
    </sw-field>

    <sw-field type="text"
              :label="$tc('moorl-cms.elements.general.config.label.minWidth')"
              v-model="element.config.minWidth.value">
    </sw-field>

    <sw-colorpicker
        colorOutput="hex"
        :zIndex="1000"
        :label="$tc('moorl-cms.elements.general.config.label.elementBackground')"
        v-model="element.config.elementBackground.value">
    </sw-colorpicker>

    <sw-colorpicker
        colorOutput="hex"
        :zIndex="1000"
        :label="$tc('moorl-cms.elements.general.config.label.boxColor')"
        v-model="element.config.boxColor.value">
    </sw-colorpicker>

    <sw-colorpicker
        colorOutput="hex"
        :zIndex="1000"
        :label="$tc('moorl-cms.elements.general.config.label.boxBackground')"
        v-model="element.config.boxBackground.value">
    </sw-colorpicker>
</div>
